allow system adbd_socket:sock_file write;
allow system init:binder { transfer call };
allow system init:unix_stream_socket { read write setopt };
allow system init_tmpfs:file read;
allow system self:capability sys_module;
allow system unlabeled:file { read getattr unlink open };
allow system wpa_socket:unix_dgram_socket sendto;
allow system device:chr_file { read write ioctl open };
allow system knv_device:chr_file { read write ioctl open };
allow system nvhost_writable_device:chr_file { read write ioctl open };
allow system_app knv_device:chr_file { read write ioctl open };
