allow untrusted_app system_data_file:file setattr;
auditallow untrusted_app system_data_file:file setattr;
allow untrusted_app apk_data_file:dir getattr;
auditallow untrusted_app apk_data_file:dir getattr;
allow untrusted_app selinuxfs:dir { read search };
allow untrusted_app selinuxfs:file { read open getattr };
allow untrusted_app app_data_file:file { execute execute_no_trans };
auditallow untrusted_app app_data_file:file { execute execute_no_trans };
allow untrusted_app sysfs_devices_system_cpu:file { read open };
auditallow untrusted_app sysfs_devices_system_cpu:file { read open };
