allow vold system_file:dir { write create add_name remove_name };
allow vold system_file:file { write create setattr link rename unlink};
allow vold rootfs:dir { write create add_name };
